.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* header right */
.header-right{
    display: flex;
    gap: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    align-items: center;
}
.account{
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-account{
    display: flex;
    position: relative;
    border: none;
    
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    &:hover{
        opacity: 0.8;
        
    }
}
.cart-text{
    display: flex;
    white-space: nowrap;
}
/* icon */
.account-icon{
    font-size: 35px;
}
.cart-icon{
    font-size: 35px;
    color: #fff;
}
.drop-down{
    margin-left: 3px;
    padding: 3px;
}

/* avatar user */
.avatar-user-header{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    object-fit: cover;
}