.product-type{
    display: flex;
    padding: 0 120px;
    align-items: center;
    gap: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: flex-start;
    height: 44px;
    margin-bottom: 3px;
}
.sliders-container{
    padding: 0 120px;
    height: 10000px;
}

.card-homepages{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
}

.button-wrapper{
    widows: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.button-show-more{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(10, 104, 255);
    color: rgb(10, 104, 255);
    width: 240px;
    height: 38px;
    font-weight: 500;
}
.button-show-more:hover{
    background-color: rgba(0, 96, 255, 0.12) !important;
    opacity: 1 !important;
}