.home-container{
    display: block;
    margin-top: 85px;
    
}
/* ------------------------- */
.product-type{
    display: flex;
    padding: 0 120px;
    align-items: center;
    gap: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: flex-start;
    height: 60px;
    margin-bottom: 3px;
}
.sliders-container{
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;  
}

.card-homepages{
    display: flex;
    min-height: calc(100vh - 11.25rem);
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0.3125rem 0 0;
    margin-top: 20px;
    gap: 20px;
}

.button-wrapper{
    widows: 100%;
    display: flex;
    align-items: center;
    margin-top: -50px;
    justify-content: center;
}

.button-show-more{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(10, 104, 255);
    color: rgb(10, 104, 255);
    width: 240px;
    height: 38px;
    font-weight: 500;
}
.button-show-more:hover{
    background-color: rgba(0, 96, 255, 0.12) !important;
    opacity: 1 !important;
}
:where(.css-dev-only-do-not-override-fpg3f5).ant-image{
    position: relative;
    display: flex;
}
.ant-card-cover{
    height: 184px
}