.search{
    display: flex;
}

.search-input{
    width: 80%;
    height: 40px;
    margin-right: 3px;
    caret-color:rgba(254, 44, 85, 1);
    
}
.search-input:hover{
    border: 1px solid black;
}
.search-button{
    width: 10%;
    padding: 5px;
}
