.cart-items{
    position: relative;
    width: 184px;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    
}

.products-name{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(56,56,61);
}
.rated{
    font-size: 10px;
    color: rgb(128,128,137);
    align-items: center;
    margin: 6px 0 0;
}
.price-product{
    color: rgb(255,66,78);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.discount-product{
    color: rgb(255,66,78);
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}
/* logo */
.logo-web{
    width: 68px;
    height: 16px;
    position: absolute; 
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
}